body {
    background-color: #ffffff
}  /*cuerpo*/

h1 {
    font-family: Century ;
    color: white ;
    font-weight: bold;min-width: 1200px;
    padding-left:20px;
    font-size: 85px;
    text-align: left;
    background: #00417b;
    margin: -20px 0px 5px auto;  /*#c2baad*/
    border-radius: 5px;
} /*Titulo grande*/

.t0{ font-family: Century;
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: 22px;
    background: #1b85c9;
    text-align: center;
    border-radius: 7px;
} /*Titulo iniciales*/

.t1{ font-family: Century;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 10px;
} /*Titulo finales*/

.t2{
    background-color: #c7cfe7;
    border-radius: 5px;
} /*Titulo placeholder*/

.b{font-family: Century;
    color: Black;
    font-size: 20px;
    text-align: center;
    background-color: #7e7e7e;
    border-radius: 5px;} /*boton calcular*/

.b:hover {
    font-family: Century;
    color: White;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color:#1b85c9;
    border-radius: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
} /*boton calcular hover*/

.wrap {
    padding: 20px;
    background: black;
    height: 640px;
    min-width: 1200px;
    overflow: hidden;} /*reborde canvas*/

.sidebar {
    font-family: Century;
    color: rgb(3, 19, 106);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background: #c2baad;
    height: 430px;
    min-width: 1200px;
    border-radius: 5px;
} /*botonera*/

.d1{    position: absolute;
    right: 150px;
    margin: 27px 447px 0px auto;
    width: 34%;
    float: right;
    min-height: 100px;
    min-width: 390px;
} /*recuadro botonera*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    width: 130px;
    background: #c2baad;
} /*boton menu*/

li a {
    display: block;
    border-radius: 5px;
    color: #000;
    font-family: Century ;
    font-weight: bold;
    padding: 8px 0 8px 16px;
    text-decoration: none;
} /*boton menu*/
li a:hover {
    background-color: #1b85c9;
    color: white;
} /*boton menu hover*/

.b1{
    font-family: Century;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    float: left;
} /*div iniciales*/
.b2{position: absolute;
    right: 110px;
    font-family: Century;
    color: black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    float: right;
} /*div resultados*/

.manual{
    background-color:#c2baad;
    color: black;
    font-family: Helvetica;
    padding: 50px 20px;
    font-size: 20px;
    text-align: center;
} /*tutorial*/

.rb{font-family: Century;
    color: Black;
    font-size: 18px;
    text-align: center;
    background-color: #7e7e7e;
    border-radius: 5px;} /*boton tutorial*/
.rb:hover {
    font-family: Century;
    color: #d1d1d1;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    background-color: #860014;
    border-radius: 20px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; /*boton tutorial hover*/
